# Rust
/target/
**/*.rs.bk
Cargo.lock
*.pdb

# IDE
/.idea/
/.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
Thumbs.db

# Testing & Coverage
tarpaulin*
cobertura*
*.profraw
*.profdata

# Documentation
/target/doc/

# Temporary files
*.tmp
*.temp
